@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-attachment: fixed;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: black url(imagens/fundo-pluma.jpg) no-repeat top center;
    background-size: cover;
}

main {
    height: 100vh;
}

section#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 550px;
    width: 300px;
    background: url(./imagens/frame-iphone.png) no-repeat top center;
    background-size: contain;
}

iframe#tela {
    position: absolute;
    left: 11.2%;
    top: 13%;

    width: 233px;
    height: 356px;
}

section#botoes {
    position: absolute;
    top: 77.8%;
    left: 11.4%;
    
    width: 233px;
    height: 55px;
    background: rgba(245, 0, 135, 0.418) no-repeat;
    background-size: contain;
}

a#botao-home {
    position: absolute;
    top: 93.5%;
    left: 50.4%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    width: 42px;
    height: 42px;
    background: url(imagens/logo-home.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-face {
    position: absolute;
    top: 50.5%;
    left: 87%;
    transform: translate(-50%, -50%);

    border-radius: 13px;
    width: 46px;
    height: 39px;
    background: url(imagens/logo-facebook.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-insta {
    position: absolute;
    top: 50.5%;
    left: 62%;
    transform: translate(-50%, -50%);

    border-radius: 13px;
    width: 46px;
    height: 39px;
    background: url(imagens/logo-instagram.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-linkedin {
    position: absolute;
    top: 50.5%;
    left: 36%;
    transform: translate(-50%, -50%);

    border-radius: 18px;
    width: 46px;
    height: 44px;
    background: url(imagens/logo-linkedin.png) no-repeat top center;
    background-size: contain;
}

a#botao-git {
    position: absolute;
    top: 50.5%;
    left: 12%;
    transform: translate(-50%, -50%);

    border-radius: 13px;
    width: 46px;
    height: 39px;
    background: url(imagens/logo-github.jpg) no-repeat top center;
    background-size: contain;
}

a:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.164);
    transition: 0.2s;
}