@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(imagens/plumage-176723_960_720.jpg) no-repeat top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#fora-fone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 550px;
    background-size: cover;
}

section#telefone {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 550px;
    width: 300px;
    background: url(../imagens/frame-iphone.png) no-repeat top center;
    background-size: contain;
}

section#tela {
    position: absolute;
    left: 50%;
    top: 50.4%;
    transform: translate(-50%, -50%);
    height: 413px;
    width: 237px;
    background: url(imagens/tela-home.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-home {
    position: absolute;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    top: 93.5%;
    left: 50.4%;
    transform: translate(-50%, -50%);
    background: url(imagens/logo-home.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-face {
    position: absolute;
    border-radius: 13px;
    width: 46px;
    height: 39px;
    top: 81.5%;
    left: 77.5%;
    transform: translate(-50%, -50%);
    background: url(imagens/logo-facebook.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-insta {
    position: absolute;
    border-radius: 13px;
    width: 46px;
    height: 39px;
    top: 81.5%;
    left: 59.2%;
    transform: translate(-50%, -50%);
    background: url(imagens/logo-instagram.jpg) no-repeat top center;
    background-size: contain;
}

a#botao-linkedin {
    position: absolute;
    border-radius: 18px;
    width: 46px;
    height: 44px;
    top: 81.5%;
    left: 41%;
    transform: translate(-50%, -50%);
    background: url(imagens/logo-linkedin-icon-2048\ \(1\).png) no-repeat top center;
    background-size: contain;
}

a#botao-git {
    position: absolute;
    border-radius: 13px;
    width: 46px;
    height: 39px;
    top: 81.5%;
    left: 23%;
    transform: translate(-50%, -50%);
    background: url(imagens/logo-github.jpg) no-repeat top center;
    background-size: contain;
}

a:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.164);
    transition: 0.2s;
}



